<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vainglory.system.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.vainglory.system.domain.Menu">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="icon" column="icon" />
            <result property="component" column="component" />
            <result property="path" column="path" />
            <result property="queryParam" column="query_param" />
            <result property="parentId" column="parent_id" />
            <result property="keepAlive" column="keep_alive" />
            <result property="isExternal" column="is_external" />
            <result property="type" column="type" />
            <result property="perms" column="perms" />
            <result property="sort" column="sort" />
            <result property="status" column="status" />
            <result property="tenantId" column="tenant_id" />
            <result property="createDept" column="create_dept" />
            <result property="createBy" column="create_by" />
            <result property="updateBy" column="update_by" />
            <result property="version" column="version" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleteTime" column="delete_time" />
    </resultMap>


    <sql id="Menu_Column">
        id,name,icon,component,path,query_param,
        parent_id,keep_alive,is_external,type,perms,
        sort,status,tenant_id,create_dept,create_by,
        update_by,version,create_time,update_time,delete_time
    </sql>
    <select id="getMenusByRoleId" resultType="com.vainglory.system.domain.Menu">
      select distinct m.id,
                      m.parent_id,
                      m.name,
                      m.title,
                      m.path,
                      m.component,
                      m.query_param,
                      m.status,
                      m.perms,
                      m.is_external,
                      m.keep_alive,
                      m.type,
                      m.icon,
                      m.sort,
                      m.create_time
      from t_menu m
             left join t_role_menu rm on m.id = rm.menu_id and m.status = 1
             left join t_role r on rm.role_id = r.id and r.status = 1
      where m.type in (0, 1)
        and r.id = #{roleId}
      order by m.sort
    </select>

  <select id="getMenusByUserId" resultType="com.vainglory.system.domain.Menu" parameterType="java.lang.String">
    select distinct m.id,
                    m.parent_id,
                    m.name,
                    m.title,
                    m.path,
                    m.component,
                    m.query_param,
                    m.status,
                    m.perms,
                    m.is_external,
                    m.keep_alive,
                    m.type,
                    m.icon,
                    m.sort,
                    m.create_time
    from t_menu m
           left join t_role_menu rm on m.id = rm.menu_id and m.status = 1
           left join t_role r on rm.role_id = r.id and r.status = 1
    where m.type in (0, 1)
      and r.id in (select role_id from t_role_user where user_id = #{userId})
    order by m.sort
  </select>
</mapper>
